/* IntelliSense for CSS class names in HTML
v1.20.0
Zignd
7,183,618
(174)
CSS class name completion for the HTML class attribute based on the definitions found in your workspace */

.header_outer_container ul{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgb(20,20,20);
  /* background-color: transparent; */
  height: 10vh;
  color: white;
  transition: all 0.5;
  transition-timing-function: ease-in;
  z-index: 1;
  /* background-color: rgb(247, 54, 54); */
}

.nav_black{
  background-color:  rgb(20,20,20);
}
.header_container{
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(20,20,20);
}
.header_left ul{
  width:150%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  /* background-color: lightgreen; */
}
.header_right ul{
  width:150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  padding-right: 8px;
  /* padding-left: 30px; */
  /* background-color: lightgreen; */

}